In [2]:
print(1000)

1000

In [3]:
print(123,436)

123 436

In [4]:
print9

NameError: name 'print9' is not defined

In [5]:
print()

In [6]:
print(123,12.3)

123 12.3

In [7]:
print("sadaqat",123,67.7)

sadaqat 123 67.7

In [9]:
type(print("123pakistan"))

123pakistan

NoneType

In [12]:
print("pakistan","python","piaic",sep="######")

pakistan######python######piaic

In [13]:
print("hello world 1")
print("hello world 2")
print ("hello world 3")

hello world 1
hello world 2
hello world 3

In [14]:
print("hello world 1",end="")
print("hello world 2",end="")
print ("hello world 3")

hello world 1hello world 2hello world 3

In [15]:
a = 10

In [16]:
print(a)

10

In [17]:
a = 10.6
print(a)

10.6

In [18]:
a = 12
type(a)

int

In [19]:
city = "karachi"

In [20]:
city

'karachi'

In [22]:
type(city)

str

In [23]:
studentname="nasir"
fathername="hussain"

In [24]:
print(studentname+fathername)

nasirhussain

In [25]:
num1 = 100
num2 = 200
sum = num1 +num2
print(sum)

300

In [26]:
a = 23
b = 34
c = a + b
print(c)

57

In [27]:
value1 =100
value2 = 10.5
sum = value2 - value1
print(sum)

-89.5

In [28]:
value1 = 100
value2 = 100
sum = value2 / value1
print(sum)

1.0

In [29]:
value1 = 100
value2 = 100
sum = value2 // value1
print(sum)

1

In [30]:
2**2

4

In [31]:
a = "23"
b = "45"
c = a+b
print(c)

2345

In [34]:
a = 100
b = 200
if a < b:
    print("a is less than b")
    print("hello A")
    print('Hello B')
print("Help Python")

if b<a:
    print("b is less than a")
print('pakistan')

a is less than b
hello A
Hello B
Help Python
pakistan

In [35]:
alist = ["nasir","ali","faisal"]

In [36]:
alist

['nasir', 'ali', 'faisal']

In [37]:
city = ["karachi","mutlan","quetta","lahore"]

In [38]:
city

['karachi', 'mutlan', 'quetta', 'lahore']

In [39]:
alist[1]

'ali'

In [40]:
city[0]

'karachi'

In [42]:
fruits =[]

In [44]:
len(fruits)

0

In [45]:
len(city)

4

In [46]:
fruits.append("apple")

In [47]:
fruits

['apple']

In [52]:
fruits.append("orange")
fruits

['apple', 'orange', 'orange', 'orange']

In [53]:
fruits

['apple', 'orange', 'orange', 'orange']

In [54]:
fruits.insert(0,"grapes")

In [55]:
fruits

['grapes', 'apple', 'orange', 'orange', 'orange']

In [56]:
fruits.extend(["apple","cherry","bulberry"])

In [57]:
fruits

['grapes',
 'apple',
 'orange',
 'orange',
 'orange',
 'apple',
 'cherry',
 'bulberry']

In [58]:
fruits.count("orange")

3

In [59]:
fruits.index("cherry")

6

In [60]:
fruits.clear()

In [61]:
fruits = ["apple","bullberry","orange","grapes"]

In [62]:
fruits

['apple', 'bullberry', 'orange', 'grapes']

In [63]:
fruits2 =fruits.copy()

In [64]:
fruits

['apple', 'bullberry', 'orange', 'grapes']

In [65]:
fruits3 = fruits

In [66]:
fruits3

['apple', 'bullberry', 'orange', 'grapes']

In [67]:
fruits.append("newfruits")
fruits3

['apple', 'bullberry', 'orange', 'grapes', 'newfruits']

In [68]:
fruits2

['apple', 'bullberry', 'orange', 'grapes']

In [69]:
fruits

['apple', 'bullberry', 'orange', 'grapes', 'newfruits']

In [70]:
len(fruits)

5

In [71]:
fruits.reverse()

In [72]:
fruits

['newfruits', 'grapes', 'orange', 'bullberry', 'apple']

In [73]:
fruits.sort()

In [74]:
fruits

['apple', 'bullberry', 'grapes', 'newfruits', 'orange']

In [75]:
fruits.remove("grapes")

In [76]:
fruits

['apple', 'bullberry', 'newfruits', 'orange']

In [77]:
fruits.pop()

'orange'

In [78]:
fruits

['apple', 'bullberry', 'newfruits']

In [79]:
del fruits[1]

In [80]:
fruits2

['apple', 'bullberry', 'orange', 'grapes']

In [81]:
fruits.remove("bullberry")

ValueError: list.remove(x): x not in list

In [91]:
poppedfruit= fruits2.pop()
print(f"this fruit is popped from list {poppedfruit}")

this fruit is popped from list apple

In [92]:
fruits.append("watermelon","melon")

TypeError: append() takes exactly one argument (2 given)

In [94]:
fruits.extend(["melon","watermelon"])

In [95]:
students = ["sadaqat","ali",'qasim',"faisal","nasir"]
students[1]

'ali'

In [96]:
print(students[0])
print(students[-5])

sadaqat
sadaqat

In [97]:
students[:3]

['sadaqat', 'ali', 'qasim']

In [98]:
students[1:4]

['ali', 'qasim', 'faisal']

In [99]:
students[-5:3]

['sadaqat', 'ali', 'qasim']

In [100]:
nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,1,4,15,1,6,17,18,19,20]

In [102]:
nums[0:18:3]

[1, 4, 7, 10, 13, 15]

In [103]:
atupple = ("nasir",100,"hussain")

In [105]:
len(atupple)

3

In [106]:
atuuple.index

NameError: name 'atuuple' is not defined

In [1]:
for a in range(5):
    print("pakistan")

pakistan
pakistan
pakistan
pakistan
pakistan

In [2]:
for a in range(5):
    print(a,"pakistan")

0 pakistan
1 pakistan
2 pakistan
3 pakistan
4 pakistan

In [5]:
alist = ["sadaqat","ali","faheem","ahmed","nisar"]

In [6]:
alist

['sadaqat', 'ali', 'faheem', 'ahmed', 'nisar']

In [7]:
alist.append("sher")

In [8]:
alist

['sadaqat', 'ali', 'faheem', 'ahmed', 'nisar', 'sher']

In [9]:
alist

['sadaqat', 'ali', 'faheem', 'ahmed', 'nisar', 'sher']

In [10]:
alist.extend(["khan"])

In [11]:
alist

['sadaqat', 'ali', 'faheem', 'ahmed', 'nisar', 'sher', 'khan']

In [12]:
alist.pop()

'khan'

In [13]:
alist.index("ahmed")

3

In [14]:
alist.insert(3,"waqar")

In [15]:
alist

['sadaqat', 'ali', 'faheem', 'waqar', 'ahmed', 'nisar', 'sher']

In [16]:
alist.index("waqar")

3

In [17]:
alist.sort()

In [18]:
alist

['ahmed', 'ali', 'faheem', 'nisar', 'sadaqat', 'sher', 'waqar']

In [19]:
alist.reverse()

In [20]:
alist

['waqar', 'sher', 'sadaqat', 'nisar', 'faheem', 'ali', 'ahmed']

In [7]:
num = 1,2,3,4,5,6,7,8,9,10,11
for a in num:
    if a > 10:
        print("pakistan")
    elif a < 10 :
        print("sa")
    else:
        ("sadaqat")

sa
sa
sa
sa
sa
sa
sa
sa
sa
pakistan

In [26]:
for number in range(10,1,-4):
    print(number)

10
6
2

In [4]:
for number in [5,7,11,90]:
    if number %2 == 0:
        break
    print(number)

5
7
11

In [1]:
for num in range(10):
    if num == 7:
        continue
    print(num)

0
1
2
3
4
5
6
8
9

In [8]:
name = "Pakistan"
name.upper()

'PAKISTAN'