In [324]:
for a in range(6):
    print("paksiatn")

paksiatn
paksiatn
paksiatn
paksiatn
paksiatn
paksiatn

In [325]:
for a in range(6):
    print(a,"paksiatn")

0 paksiatn
1 paksiatn
2 paksiatn
3 paksiatn
4 paksiatn
5 paksiatn

In [326]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [327]:
for number in range(1,10,2):
    print(number)

1
3
5
7
9

In [328]:
for number in range(1,10,3):
    print(number)

1
4
7

In [329]:
for number in range(10,1,-2):
    print(number)

10
8
6
4
2

In [330]:
cities=["abc","asd","fgd","fsd"]
cities

['abc', 'asd', 'fgd', 'fsd']

In [331]:
for city in cities:
    print(f"the city is under consideration is  {city}")

the city is under consideration is  abc
the city is under consideration is  asd
the city is under consideration is  fgd
the city is under consideration is  fsd

In [332]:
for num in [11,12,13,14, 15 ]:
    print(num)

11
12
13
14
15

In [333]:
country = "pakistan"
for char in country:
    print(char)

p
a
k
i
s
t
a
n

In [334]:
country = "pakistan" , "germany"
for char in country:
    print(char)

pakistan
germany

In [335]:
for number in range(10):
    if number%3==1:
        break
    print(number)

0

In [336]:
for number in [5 , 7 , 11 , 90]:
    if number%2==0:
        break
    print(number)

5
7
11

In [337]:
for number in range(10):
    if number <= 10:
        print(number)

0
1
2
3
4
5
6
7
8
9

In [338]:
table = int(input("enter the range of table"))
for table in range(1,table+1):
        for a in range(1,11):
            print(f"{table}*{a}={table*a}")

enter the range of table2
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [339]:
list = ["pakistan" , "23" , "dret", "sawe" ,"rtyu"]
list

['pakistan', '23', 'dret', 'sawe', 'rtyu']

In [340]:
list.append("rtuiop")
list

['pakistan', '23', 'dret', 'sawe', 'rtyu', 'rtuiop']

In [341]:
list.insert(0,"sadaqat")
list

['sadaqat', 'pakistan', '23', 'dret', 'sawe', 'rtyu', 'rtuiop']

In [342]:
list.index("pakistan")

1

In [343]:
list.count(23)

0

In [344]:
list.sort(reverse = True)
list

['sawe', 'sadaqat', 'rtyu', 'rtuiop', 'pakistan', 'dret', '23']

In [345]:
list.reverse()

In [346]:
list

['23', 'dret', 'pakistan', 'rtuiop', 'rtyu', 'sadaqat', 'sawe']

In [347]:
war=list.copy()
war

['23', 'dret', 'pakistan', 'rtuiop', 'rtyu', 'sadaqat', 'sawe']

In [348]:
list.extend(["kiat","asia","gtyu","ahmed"])
list

['23',
 'dret',
 'pakistan',
 'rtuiop',
 'rtyu',
 'sadaqat',
 'sawe',
 'kiat',
 'asia',
 'gtyu',
 'ahmed']

In [349]:
list.remove("asia")
list

['23',
 'dret',
 'pakistan',
 'rtuiop',
 'rtyu',
 'sadaqat',
 'sawe',
 'kiat',
 'gtyu',
 'ahmed']

In [350]:
del list[3]
list

['23', 'dret', 'pakistan', 'rtyu', 'sadaqat', 'sawe', 'kiat', 'gtyu', 'ahmed']

In [351]:
list.pop(0)
list

['dret', 'pakistan', 'rtyu', 'sadaqat', 'sawe', 'kiat', 'gtyu', 'ahmed']

In [352]:
poppedrace=list.pop()
print(f"the name is delete from {poppedrace}")
print(f"the remaining htrer is {list}")

the name is delete from ahmed
the remaining htrer is ['dret', 'pakistan', 'rtyu', 'sadaqat', 'sawe', 'kiat', 'gtyu']

In [353]:
list.clear()
list

[]

In [354]:
len(list)

0

In [355]:
fox = ("dare","tyu",345)  # tupples

In [356]:
fox

('dare', 'tyu', 345)

In [357]:
del fox["dare"]

TypeError: 'tuple' object does not support item deletion

In [358]:
fox.count("dare")

1

In [359]:
fox.index("dare")

0

In [360]:
fox = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
fox

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [361]:
fox[2:9:2]    # slicing

[3, 5, 7, 9]

In [362]:
table = int(input("enter the range of table"))
for table in range(1,table+1):
        for a in range(11):
            print(f"{table}*{a}={table*a}")

enter the range of table2
1*0=0
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*0=0
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [363]:
time = int(input("enter the range of time"))
for time in range (1,time+1):
    for observation in range(1,32):
        print(f"{time}+{observation}")

enter the range of time4
1+1
1+2
1+3
1+4
1+5
1+6
1+7
1+8
1+9
1+10
1+11
1+12
1+13
1+14
1+15
1+16
1+17
1+18
1+19
1+20
1+21
1+22
1+23
1+24
1+25
1+26
1+27
1+28
1+29
1+30
1+31
2+1
2+2
2+3
2+4
2+5
2+6
2+7
2+8
2+9
2+10
2+11
2+12
2+13
2+14
2+15
2+16
2+17
2+18
2+19
2+20
2+21
2+22
2+23
2+24
2+25
2+26
2+27
2+28
2+29
2+30
2+31
3+1
3+2
3+3
3+4
3+5
3+6
3+7
3+8
3+9
3+10
3+11
3+12
3+13
3+14
3+15
3+16
3+17
3+18
3+19
3+20
3+21
3+22
3+23
3+24
3+25
3+26
3+27
3+28
3+29
3+30
3+31
4+1
4+2
4+3
4+4
4+5
4+6
4+7
4+8
4+9
4+10
4+11
4+12
4+13
4+14
4+15
4+16
4+17
4+18
4+19
4+20
4+21
4+22
4+23
4+24
4+25
4+26
4+27
4+28
4+29
4+30
4+31

In [364]:
table = int(input("enter the range of table"))
for table in range(1,table):
        for a in range(11):
            if table == 4:
                break
                print(f"{table}*{a}={table*a}")
            else:
                    print(f"{table}+{a}={table+a}")

enter the range of table3
1+0=1
1+1=2
1+2=3
1+3=4
1+4=5
1+5=6
1+6=7
1+7=8
1+8=9
1+9=10
1+10=11
2+0=2
2+1=3
2+2=4
2+3=5
2+4=6
2+5=7
2+6=8
2+7=9
2+8=10
2+9=11
2+10=12

In [365]:
table = int(input("enter the range of table"))
for table in range(1,table):
        for a in range(11):
            if table != 4:
                print(f"{table}:{3}={table:3}")
            else:
                    print(f"{table}+{a}={table+a}")

enter the range of table3
1:3=  1
1:3=  1
1:3=  1
1:3=  1
1:3=  1
1:3=  1
1:3=  1
1:3=  1
1:3=  1
1:3=  1
1:3=  1
2:3=  2
2:3=  2
2:3=  2
2:3=  2
2:3=  2
2:3=  2
2:3=  2
2:3=  2
2:3=  2
2:3=  2
2:3=  2

In [366]:
table =int(input("enter the range of table"))
for table in range(1,table):
        for a in range(11):
            print(f"{table}+{a}={table+a}")

enter the range of table1

In [367]:
table = str(input(123))
type(table)

12333

str

In [368]:
ghi = "pakistan is our country "

In [369]:
ghi.upper()

'PAKISTAN IS OUR COUNTRY '

In [370]:
ghi.lower()

'pakistan is our country '

In [371]:
ghi.title()

'Pakistan Is Our Country '

In [372]:
userinput = input("enter the country name")
userinput.upper()

enter the country namepakistan is our country

'PAKISTAN IS OUR COUNTRY'

In [373]:
students = {"country" : "pakistan","namne" : "ali" ,"education": "matric","age" :21}
students

{'country': 'pakistan', 'namne': 'ali', 'education': 'matric', 'age': 21}

In [374]:
#dicitionaries
# key value is always in string ,float ,integer.
#value is in string ,float ,integer , list, tupple ,dicitionary

In [375]:
students[123]= list

In [376]:
students

{'country': 'pakistan',
 'namne': 'ali',
 'education': 'matric',
 'age': 21,
 123: []}

In [377]:
list

[]

In [378]:
fox

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [379]:
students[pak]=fox
students

NameError: name 'pak' is not defined

In [380]:
print(students["age"]) # accesing the dictionary

21

In [381]:
del students["age"]         # deleteing the dictionaries
students

{'country': 'pakistan', 'namne': 'ali', 'education': 'matric', 123: []}

In [383]:
"country" in students

True

In [384]:
"pakistan" in students

False

In [391]:
for value in students.values():      # here display all value
    print(value)

pakistan
ali
matric
[]

In [392]:
for key in students.keys():  #here display all key
    print(key)

country
namne
education
123

In [393]:
for item in students.items():      # here key & value both 
    print(item)

('country', 'pakistan')
('namne', 'ali')
('education', 'matric')
(123, [])

In [405]:
students = [

SyntaxError: unexpected EOF while parsing (<ipython-input-405-92526ad2d07d>, line 1)

In [409]:
students.append({"names":"ali","pakistan":"islambad"
for student in students:
    print(student)

SyntaxError: invalid syntax (<ipython-input-409-3ec16ea7a8a1>, line 2)

In [411]:
for student in students:
    print(student

SyntaxError: unexpected EOF while parsing (<ipython-input-411-d8f87e5e739e>, line 2)

In [414]:
students = {"country" : "pakistan","namne" : "ali" ,"education": "matric","age" :21}
students

{'country': 'pakistan', 'namne': 'ali', 'education': 'matric', 'age': 21}

In [416]:
print(students.get("age"))

21