In [14]:
def add():
    print(5//2)
    
add()

2

In [1]:
list = "1","2","3","4","5","6","7"
def add():
    for digits in list:
        digits +=(list)
add()

TypeError: can only concatenate str (not "tuple") to str

In [ ]:
def add():
    print(2*7+8)

add()

In [ ]:
def max_two(x,y):
    if x > y:
        return x
    print(max_two(2,1))

In [ ]:
def max(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y >z:
        return y
    else:
        return z
    
print(max(5,6,7))

In [ ]:
list = []
number = input("enter list number").split() 
list.append(int(number))

In [ ]:
def biodata(name,age):
    print(name,age)

In [ ]:
biodata("sadaqat",29)

In [ ]:
def func1(a,c,b=" "):
    print(a,b,c)
    
func1(20,30,40)

In [ ]:
func1(50,60)

In [ ]:
def func2(*arg):
    for i in arg:
        print(i, end=",")
func2(10,11,12,13)

In [ ]:
func2("sadaqat","ali",29)

In [ ]:
def calculation(a,b):
    add = a + b
    sub = b - a
    print(add,sub)
    return add,sub

calculation(2,3)

In [ ]:
calculation(7,7)

In [ ]:
def employ_data(name,salary):
    print(name,salary)
    return salary
employ_data("Benn",9000)

In [ ]:
def caluclate(a,b):
    def add(a,b):
        return a + b
    aik_or_variable = add(a,b)
    
    return aik_or_variable +5

caluclate(3,4)

In [ ]:
def displayname(name,age,Class):
    print(name,Class,age)
    
show_name = displayname

show_name("ammar",16,'10th')

In [ ]:
show_name("monkey",12,"7th")

In [ ]:
list = []
def evenlist():
    for i in range(4,30,2):
        list.append(i)
        print(list,end=" ")

In [ ]:
evenlist()

In [ ]:
list = []
for i in range (4,30,2):
    list.append(i)

In [ ]:
list

In [ ]:
print(max(list))

In [ ]:
list = [2,3,4,5,6,7,8,9,10]
print("largest nbr is :",list[-1])

In [ ]:
list = [2,3,4,1,7,77,6,55,44,33,32]
list.sort(reverse=True)

In [ ]:
print("smallest nbr is :",list[-1])

In [ ]:
list = [99,44,77,777,8888,99999,1010110,4,3,2,1,2,3,0,8,9,7,45,34,23,12,999,]
list.sort()
print("largest Nbr is : ",list[-1])
print("smallest nbr is :" ,list[0])

In [1]:
# binary to decimal converter
b_num = list(input("Input a binary number: "))
value = 0

for i in range(len(b_num)):
    digit = b_num.pop()
    if digit == '1':
        value = value + pow(2, i)
print("The decimal value of the number is", value)

Input a binary number: 1001
The decimal value of the number is 9

In [2]:
c = list(input("input a binary number:"))
value = 0

for a in range(len(c)):
    digit = c.pop()
    if digit == '1':
        value = value+pow(2,a)
print("the decimal value of number is:",value)

input a binary number:1000
the decimal value of number is: 8

In [3]:
sad = [1,2,3,4,5,6,7,8]
print(len(sad))

8

In [4]:
print(pow(2,1))

2

In [5]:
print(pow(2,3))

8

In [6]:
print(pow(2,2))

4

In [7]:
print(pow(2,1))

2

In [8]:
#count alphabet ,number ,and special character
pak = input ("enter a word")
count = 0
number = 0
special = 0
for i in pak:
    if i .isalpha():
        count+=1
    elif i .isdigit():
        number+=1
    else:
        special+=1
print(f"alphabet is :{count} and number is : {number} and the special charcateristic is :{special} ".title())

enter a wordsadaqat @
Alphabet Is :7 And Number Is : 0 And The Special Charcateristic Is :2

In [9]:
"pakistan".isalpha()

True

In [10]:
pak = input ("enter a word :".upper())
count = 0
number = 0
constant=0
vowel=0
special = 0
for i in pak:
    if i .isalnum():
        if i . isalpha():
            count+=1
            if i == "a" or i == "A" or i == "e" or i == "E" or i == "i" or i == "I" or i == "o" or i == "O" or i == "u" or i == "U":
                vowel+=1
            else:
                constant+=1
        elif i . isdigit():
            number+=1
        else:
            print()
       
    else:
        special+=1
print(f" in this sentecnce , totlat alphabet are :{count}  , vowel are :{vowel} ,constant are :{constant} and number  : {number} and the special charcateristic are :{special} ".title())

ENTER A WORD :
 In This Sentecnce , Totlat Alphabet Are :0  , Vowel Are :0 ,Constant Are :0 And Number  : 0 And The Special Charcateristic Are :0

In [11]:
text = input("Enter A Word :")
count = 0
constant = 0
alphabet = 0
digit = 0
special = 0
def test(count,constant):
    for i in text:
        if (i == "a" or i =="A" or  i =="e" or  i =="E" or  i =="i" or  i =="I" or  i =="u" or  i =="U"):
            count+=1
        else:
            constant+=1
        print(count,constant)
        return count,constant
    def test2(alphabet,digit,special):
        for i in text:
            if i .isalpha():
                alphabet+=1
            elif i .isdigit():
                digit+=1
            else:
                special+=1
            print(alphabet,digit,special)

Enter A Word :sadaqat

In [12]:
test(count,constant)

0 1

(0, 1)

In [13]:
print(digit)

0

In [15]:
pattern = input("Enter a word or symbol for pattern")

for rows in range(pat):
    print(pattern)

Enter a word or symbol for pattern3

NameError: name 'pat' is not defined

In [16]:
"pakistan123".isalnum()

True

In [17]:
row = int(input("enter row  for pattern"))

for row in range(1,row+1):
    for column in range(1,row+1):
        print("*",end= "")
    print()
for row in range(row+1,1,-1):
    for column in range(row,1,-1):
        print("*",end="")
    print()

enter row  for pattern3
*
**
***
***
**
*

In [18]:
row = int(input("enter row  for pattern"))

for row in range(row+1,1,-1):
    for column in range(1,row+8):
        print("*",end= "")
    print()
for row in range(row+1,1,-1):
    for column in range(row,1,-1):
        print("*",end="")
    print()

enter row  for pattern4
************
***********
**********
*********
**
*

In [19]:
class student():
    def __init__(his,rollnumber,age,course,fees,semester):
        his.rollnumber= rollnumber
        his.age=age
        his.course = course
        his.fees= fees
        his.semester= semester
        his.marks= "70"
    def detail(his):
        print(f"the roll number of student is ; {his.rollnumber}")
        print(f"student age is {his.age}")
        print(f"student enrollrd in {his.course}")
        print(f"his fees is {his.fees}")
        print(f"his semester is {his.semester}")
    def data(his):
        print(f"the roll number of student is ; {his.rollnumber}student age is {his.age}student enrollrd in {his.course}his semester is {his.semester}his fess is {his.fees}")
    def totalmarks(his,obtainedmarks):
        his.marks=obtainedmarks
    def getmarks(his):
        print(f"total obtained marks is {his.marks}")

In [20]:
student1= student("piaic001",29,"AI","nill","First")
student2= student("piaic002",28,"AI","nill","First")
student3= student("piaic0013",30,"AI","nill","First")

In [21]:
student1.detail()

the roll number of student is ; piaic001
student age is 29
student enrollrd in AI
his fees is nill
his semester is First

In [22]:
student2.detail()

the roll number of student is ; piaic002
student age is 28
student enrollrd in AI
his fees is nill
his semester is First

In [23]:
student1.data()

the roll number of student is ; piaic001student age is 29student enrollrd in AIhis semester is Firsthis fess is nill

In [24]:
student1.marks

'70'

In [25]:
student2.marks

'70'

In [26]:
student2.marks = "60"

In [27]:
student2.marks

'60'

In [28]:
student1.getmarks()

total obtained marks is 70

In [29]:
student2.getmarks()

total obtained marks is 60

In [30]:
student1.totalmarks("90")

In [31]:
student1.getmarks()

total obtained marks is 90