In [5]:
print(123,123, 234453678, "ghfr")

123 123 234453678 ghfr

In [7]:
a= "safia"
b= "liaquat"
name= a+b
print(name)

safialiaquat

In [17]:
print("pakistan is a nanananananq",12345,"fgffgfgfrftd",sep="_________________________________",end="\n")
print("jakxxgshgfqwhdsahjxxsahgqwytshbcashfsavxastrfwqydilzxjcsavdjweqhiuy")
print("jhgfjhgsdshddjdvxvnwejcncmhejhxcbcbnv")

pakistan is a nanananananq_________________________________12345_________________________________fgffgfgfrftd
jakxxgshgfqwhdsahjxxsahgqwytshbcashfsavxastrfwqydilzxjcsavdjweqhiuy
jhgfjhgsdshddjdvxvnwejcncmhejhxcbcbnv

In [18]:
a=23
b=456
c=a+b
print(c)

479

In [22]:
if a>b:
    print("pakistan")
else:
        print("lahore")

lahore

In [26]:
23>456

False

In [30]:
x= (5/7)*(3+4)
print(x)

5.0

In [33]:
a -= b
print(a)

-889

In [34]:
print(100%67)

33

In [41]:
print((5+3) / (3+1))

2.0

In [45]:
species="cat"
if species=="cat":
    print("safia")

safia

In [48]:
userage = input("what is user age")
print("i am ",int(userage) + 4 , "years old" )

what is user age23
i am  27 years old

In [1]:
cnic = input("what is your cnic nbr")
userage = input("what is userage")
first_name = input("what is your first name")
totalmarks=input("what is your total marks")
obtained_marks=input("write down yours obtained marks")
print("my cnic is",cnic)
print("my age is",int(userage)-60)
print("my name is",first_name)
print("my percentage is")
print((int(obtained_marks)*100)/int(totalmarks))

what is your cnic nbr333333333
what is userage234
what is your first namefdr
what is your total marks879
write down yours obtained marks098
my cnic is 333333333
my age is 174
my name is fdr
my percentage is
11.149032992036405

In [11]:
education=["matriculation",12,"bsc","master","phd"]

In [12]:
education[2]

'bsc'

In [4]:
#how to acces the list see 12

In [13]:
education

['matriculation', 12, 'bsc', 'master', 'phd']

In [14]:
len(education)

5

In [15]:
education.append("primary")

In [16]:
education

['matriculation', 12, 'bsc', 'master', 'phd', 'primary']

In [19]:
education.insert(0,"nursery")
education

['nursery', 'matriculation', 12, 'bsc', 'master', 'phd', 'primary']

In [21]:
education.extend(["one","two","three"])
education

['nursery',
 'matriculation',
 12,
 'bsc',
 'master',
 'phd',
 'primary',
 'one',
 'two',
 'three']

In [22]:
education.count(12)

1

In [23]:
education.index("phd")

5

In [26]:
ask=education.copy()

In [27]:
ask

['nursery',
 'matriculation',
 12,
 'bsc',
 'master',
 'phd',
 'primary',
 'one',
 'two',
 'three']

In [28]:
a= education

In [29]:
a

['nursery',
 'matriculation',
 12,
 'bsc',
 'master',
 'phd',
 'primary',
 'one',
 'two',
 'three']

In [1]:
poppededucation=education.pop()
print(f"this education is popped from{poppededucation}")
print(f"the remaining education is {education}")

NameError: name 'education' is not defined

In [3]:
list=["pakistan","china","japan"]

In [4]:
list

['pakistan', 'china', 'japan']

In [6]:
list.append("usa")

In [8]:
list

['pakistan', 'china', 'japan', 'usa']

In [9]:
list.insert(2,"kashmir")

In [10]:
list

['pakistan', 'china', 'kashmir', 'japan', 'usa']

In [11]:
list.clear()

In [12]:
list

[]

In [13]:
list=["pakistan","china","japan"]

In [56]:
list.extend(["hongkong","korea","oman"])
list

TypeError: extend() takes exactly one argument (0 given)

In [15]:
list

['pakistan', 'china', 'japan', 'hongkong', 'korea', 'oman']

In [17]:
list.count()

In [18]:
len(list)

6

In [26]:
list.index(oman)

NameError: name 'oman' is not defined

SyntaxError: invalid syntax (<ipython-input-22-bf5ecf468415>, line 1)

In [34]:
city=["mianwali","kundian","piplan","talagang","bhakkar"]
 # index 0      ,  1      ,  2     ,   3      , 4

In [35]:
city.index("piplan")

2

In [36]:
city.count(3)

0

In [37]:
city

['mianwali', 'kundian', 'piplan', 'talagang', 'bhakkar']

In [38]:
city.count("piplan")

1

In [39]:
sargodha=city.copy()

In [40]:
sargodha

['mianwali', 'kundian', 'piplan', 'talagang', 'bhakkar']

In [41]:
sargodha.append("shahpur")

In [42]:
sargodha

['mianwali', 'kundian', 'piplan', 'talagang', 'bhakkar', 'shahpur']

In [43]:
poppedsargodha=sargodha.pop()

In [46]:
print(f" the city is popped{poppedsargodha}")
print(f"the city is remaining{sargodha}")

 the city is poppedshahpur
the city is remaining['mianwali', 'kundian', 'piplan', 'talagang', 'bhakkar']

In [47]:
city.sort()

In [48]:
city

['bhakkar', 'kundian', 'mianwali', 'piplan', 'talagang']

In [51]:
city.reverse()

In [65]:
city.count("talagang")

1

In [53]:
city.sort()

In [54]:
city

['bhakkar', 'kundian', 'mianwali', 'piplan', 'talagang']

NameError: name 'false' is not defined

In [57]:
city.extend(["harnoli","chak"])
city

['bhakkar', 'kundian', 'mianwali', 'piplan', 'talagang', 'harnoli', 'chak']

In [59]:
q=city

In [60]:
q

['bhakkar', 'kundian', 'mianwali', 'piplan', 'talagang', 'harnoli', 'chak']

In [61]:
w=q.copy()

In [62]:
w

['bhakkar', 'kundian', 'mianwali', 'piplan', 'talagang', 'harnoli', 'chak']

In [63]:
len(w)

7

In [64]:
w.count("bhakkar")

1

In [66]:
d=[w]

In [67]:
d.count("abc")

1

In [68]:
d.index("abc")

0

In [70]:
d.index()

TypeError: index() takes at least 1 argument (0 given)

In [71]:
d.clear()
d

[]

In [72]:
w

['bhakkar', 'kundian', 'mianwali', 'piplan', 'talagang', 'harnoli', 'chak']

In [73]:
del w[2]

In [74]:
w

['bhakkar', 'kundian', 'piplan', 'talagang', 'harnoli', 'chak']

In [75]:
w.remove("kundian")

In [76]:
w

['bhakkar', 'piplan', 'talagang', 'harnoli', 'chak']

In [79]:
poppedw=w.pop()
print(f"the cities popped from{poppedw}")
print(f"the cities remaining{w}")

the cities popped fromchak
the cities remaining['bhakkar', 'piplan', 'talagang', 'harnoli']

In [80]:
poppedw=w.pop(2)
poppedw

'talagang'

In [81]:
print(w[1])

piplan

In [82]:
print(w[0])

bhakkar

In [83]:
w

['bhakkar', 'piplan', 'harnoli']

In [85]:
w.extend(["abc","cdf","pkr","aed","usd","rial","canada",'tornota'])

In [86]:
w

['bhakkar',
 'piplan',
 'harnoli',
 'abc',
 'cdf',
 'pkr',
 'aed',
 'usd',
 'rial',
 'canada',
 'tornota']

In [87]:
w.count("skf")

0

In [89]:
"rial" in list  of w

SyntaxError: invalid syntax (<ipython-input-89-bc110e6e3356>, line 1)

In [90]:
print(w[1:9])

['piplan', 'harnoli', 'abc', 'cdf', 'pkr', 'aed', 'usd', 'rial']

In [96]:
print(w[2:-2])

['harnoli', 'abc', 'cdf', 'pkr', 'aed', 'usd', 'rial']

In [97]:
multi=(2*4)*4+2
print(multi)

34

In [104]:
name="zarsari"
age=22
if name=="zarsari" and age==29:
    print("polticis")
elif name=="zarsari" or age==22:
    print("bilawal")
else:
    print("sindh")

bilawal

In [99]:
name="zarsari"
age=22
if name=="zarsari" or age==28:
    print("polticis")

polticis

In [107]:
pakistan = "nawaz"
minister = "sharif"
c="d"
e="d"
if pakistan != minister:
    if c == e:
        print("yes")
    else:
        print('false')
else:
    print("smugler")

yes

In [108]:
w

['bhakkar',
 'piplan',
 'harnoli',
 'abc',
 'cdf',
 'pkr',
 'aed',
 'usd',
 'rial',
 'canada',
 'tornota']

In [110]:
y = w + ["pakistan","ghyt"]
y

['bhakkar',
 'piplan',
 'harnoli',
 'abc',
 'cdf',
 'pkr',
 'aed',
 'usd',
 'rial',
 'canada',
 'tornota',
 'pakistan',
 'ghyt']

In [111]:
u= y[3:5]

In [112]:
u

['abc', 'cdf']

In [117]:
u[:-1]

['abc']

In [119]:
y

['bhakkar',
 'piplan',
 'harnoli',
 'abc',
 'cdf',
 'pkr',
 'aed',
 'usd',
 'rial',
 'canada',
 'tornota',
 'pakistan',
 'ghyt']

In [122]:
y[ :-8]

['bhakkar', 'piplan', 'harnoli', 'abc', 'cdf']

In [124]:
del y[6]

In [125]:
y

['bhakkar',
 'piplan',
 'harnoli',
 'abc',
 'cdf',
 'pkr',
 'usd',
 'rial',
 'canada',
 'tornota',
 'pakistan',
 'ghyt']

In [127]:
y.remove("canada")

In [128]:
y

['bhakkar',
 'piplan',
 'harnoli',
 'abc',
 'cdf',
 'pkr',
 'usd',
 'rial',
 'tornota',
 'pakistan',
 'ghyt']

In [129]:
poppedy = y.pop(0)
y

['piplan',
 'harnoli',
 'abc',
 'cdf',
 'pkr',
 'usd',
 'rial',
 'tornota',
 'pakistan',
 'ghyt']

In [130]:
poppedy = y.pop()
print(f"the cities popped out{poppedy}")
print(f"remaining cities are{y}")

the cities popped outghyt
remaining cities are['piplan', 'harnoli', 'abc', 'cdf', 'pkr', 'usd', 'rial', 'tornota', 'pakistan']

In [134]:
g = ["dfrfrfr",545,"hyujiko",7689]

In [135]:
g.append(y.pop(1))
g

['dfrfrfr', 545, 'hyujiko', 7689, 'abc']

In [136]:
tupple=("pakistan",675,"hgytuji")

In [138]:
tupple

('pakistan', 675, 'hgytuji')

In [139]:
tupple[1]

675

In [141]:
len(tupple)

3