In [2]:
tables = int(input("enter the table"))
for tables in  range (1,tables):
    for number in range(1,11):
        print(f"{tables}*{number}={tables*number}")

enter the table4
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [3]:
9 > 2

True

In [10]:
list = [11,12,13,14,15,16,17,18,19,20,21]
list[0:2:2]

[11]

In [11]:
list[::2]

[11, 13, 15, 17, 19, 21]

In [12]:
pak=[]
pak[::4]

[10]

In [13]:
for number in range(0,100,4):
    print(number)

0
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96