In [2]:
name =  "pakistan"
id(name)

2500295492912

In [3]:
name = "usa"
print(name)

usa

In [4]:
students = ["fast", "rat","pak","loi"]

In [5]:
del students[1]

In [6]:
students

['fast', 'pak', 'loi']

In [7]:
poppedvalue =students.pop()

In [8]:
poppedvalue

'loi'

In [9]:
a= 5
c= 2
a %= c

In [10]:
print(a)

1

In [11]:
studentcourse = input("tell me your course name")
print("student course name is " + studentcourse)

tell me your course nameai
student course name is ai

In [13]:
x,y = input("enter a two value: ").split()
print("number of boys: ",x)
print("number of girls: ",y)
print()

enter a two value: 123 10
number of boys:  123
number of girls:  10

In [14]:
type(x,y)

TypeError: type() takes 1 or 3 arguments

###

In [15]:
x,y = input("enter a two value: ").split()
print("number of boys: ",x)
print("number of girls: ",y)
print()

enter a two value: 23 45
number of boys:  23
number of girls:  45

In [16]:
x= input("enter a two value: ")
print("number of boys: ",x)
print("number of girls: ",y)
print()

enter a two value: 34
number of boys:  34
number of girls:  45

In [ ]:
count = 0
while count <(10):
    print()
    count == 1

In [ ]:
close_friend = []

In [3]:
print(1)

1

In [4]:
print("pakistan")

pakistan

In [5]:
print("sad","ghui")

sad ghui

In [7]:
print("kio","jhuk",sep="_____")

kio_____jhuk

In [9]:
print("dsa","ghy",78,sep="____________")

dsa____________ghy____________78

In [10]:
country_name ="pakistan"
print(country_name)

pakistan

In [11]:
print(type(country_name))

<class 'str'>

In [13]:
result = False
type(result)

bool

In [4]:
count = 0
for i in range(1,5):
    for j in range(0,5,2):
        if i == j:
            continue
    else:
        count+=1
        print(count)

1
2
3
4

In [3]:
count= 1
while count <10:
    print("pakistan");
    cont++:

SyntaxError: invalid syntax (<ipython-input-3-571a7fea27d7>, line 4)

In [4]:
x ='abcd'
for i in x:
    print(i.upper())

A
B
C
D

In [9]:
l = [75,43,66,87]
for i in range(len(l)):
    if i != 66
        print(l[i],end=" ")
else
    break

SyntaxError: invalid syntax (<ipython-input-9-c1c62386b52d>, line 3)

In [5]:
country = "china"
for i in range (0,10,2):
    print()
    for char in country:
        print(country ,end=" ")

china china china china china
china china china china china
china china china china china
china china china china china
china china china china china

In [7]:
country = "china"
for char in country:
    print()

c
h
i
n
a

In [22]:
t1 = (1,2,4,3)
t2 = (1,2,4,3)
t1 = t21

In [26]:
x = ("a","b","c")
x.count("a")

1

In [28]:
'd' in x

False

In [33]:
t = (1,2,4,3)
print(min(t))

1

In [36]:
for i in range (1,10):
    if i % 3 == 0:
        continue

In [40]:
count = 0
for i in range (1,5):
    for j in range (0,5,2):
        if i == j:
            continue
        else:
            count +=1
            print(count)

1
2
3
4
5
6
7
8
9
10

In [50]:
tables = int(input("enter the table number"))
for tables in range (1,tables):
    for number in range (1,10):
        print(f"{tables}*{number}={tables*number}")

enter the table number5
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36

In [87]:
count = 0
for i in range (1,5):
    for j in range (0,5,2):
        if i== j:
            continue
    else:
        count+=1
        print(count)

1
2
3
4

In [93]:
count = 0
fruits = [ "apples", "oranges","strawberry",'banana',"mango"]
vegetables = [ "potato","okra","onion","spinach"]
for fruit in fruits:
    for vegetable in vegetables:
        if fruit == "strawberry" and vegetable == "okra":
            print(f"we have got {fruit}and {vegetable}")
        count+=1
        print(count)

1
2
3
4
5
6
7
8
9
we have got strawberryand okra
10
11
12
13
14
15
16
17
18
19
20

In [101]:
l= [75,43,66,87]
for i in range (4):
    if i != 66:
        print(l[i])
    else:
        continue

75
43
66
87

In [103]:
len(l)

4

In [104]:
type(l)

list

In [106]:
i != 66

True

In [107]:
print(l[0])

75

In [110]:
for i in range (0,10,2):
    print()
    for char in "china":
        print(char, end = " ")

c h i n a
c h i n a
c h i n a
c h i n a
c h i n a

In [148]:
var = 10
for i in range(3):
    for j in range(2,4):
        if var % 2 == 0:
            var+=1
        else:
            var+=1
            print(var)
    else:
            var+=1
            print(var)

12
13
14
16
18
19

In [149]:
print(type([]))

<class 'list'>

In [150]:
print(type(()))

<class 'tuple'>

In [151]:
print(type({}))

<class 'dict'>

In [152]:
for a in range(5):
    print(a,"sadaqat")

0 sadaqat
1 sadaqat
2 sadaqat
3 sadaqat
4 sadaqat

In [153]:
type(range(5))

range

In [174]:
l1 = ['a','s','d','f']
l2 = l1

In [175]:
print(l2)

['a', 's', 'd', 'f', 't']

In [159]:
len(l1)

5

In [160]:
len(l2)

5

In [167]:
 l = ['a','b','c','d','e','f']
for i in range(3,6):
    l[i -1] = l[i]
    for i in range (0,6):
        print(l[i])

a
b
d
d
e
f
a
b
d
e
e
f
a
b
d
e
f
f

In [172]:
l[3]

'e'

In [176]:
d= ['a','s','d','g']
d=r
print(r)

NameError: name 'r' is not defined

In [177]:
type(i)

int

In [184]:
t = [1,2,3,4]
print(t[1:-1])

[2, 3]

In [181]:
type(t)

tuple

In [188]:
lista=[2,1,2,4,5,6,8]
lista.remove(2)
print(lista)

[1, 2, 4, 5, 6, 8]

In [217]:
count=0
lista=[1,2,3,[1,2,3,4],[4,3,2,1]]
for i in lista:
    if type(i)is list:
        count+=1
else:
continue
count+=1
print(count)

IndentationError: expected an indented block (<ipython-input-217-334ec2d34ccb>, line 7)

In [218]:
l = [.5 *x for x in range(0,4)]
print(l)

[0.0, 0.5, 1.0, 1.5]

In [7]:
a_list = ["john",'30']
name = input("enter the name:")
age = input("enter the age:")
a_list.append((name,age))
print(a_list)

enter the name:doe
enter the age:30
['john', '30', ('doe', '30')]

In [8]:
a_list

['john', '30', ('doe', '30')]

In [14]:
print("sadaqat","fdrt".capitalize())

sadaqat Fdrt

In [15]:
print("sadaqat","fdrt".upper())

sadaqat FDRT

In [13]:
print("sadqat".title())

Sadqat

In [20]:
print("SADAQAT is abc".swapcase())

sadaqat IS ABC

In [23]:
"sadaqat".isalnum()

True

In [24]:
"Sadaqat".istitle()

True

In [25]:
"sadaqat".isupper()

False

In [26]:
"sadaqat".islower()

True

In [29]:
"sadaqat".startswith("s")

True

In [31]:
"sadaqat".isalpha()

True

In [32]:
"456".isdigit()

True

In [35]:
mydict = {"name":"sad","age":"24"}
len(mydict)

2

In [38]:
mydict["email"] ="abc@gmail.com"

In [39]:
mydict

{'name': 'sad', 'age': '24', 'email': 'abc@gmail.com'}

In [40]:
list = ['l','g','h','v','x','k']
abc = {"class":[list],5:"jhk"}
abc

{'class': [['l', 'g', 'h', 'v', 'x', 'k']], 5: 'jhk'}

In [47]:
print(abc["class"])

[['l', 'g', 'h', 'v', 'x', 'k']]

In [53]:
print(abc['class'][3])

IndexError: list index out of range

In [58]:
names = ["abc","acd","aqw","art"]
age =['1','2','3','4']
class_3 = {'students':names,'students_age':age}

In [59]:
type(class_3)

dict

In [60]:
print(class_3)

{'students': ['abc', 'acd', 'aqw', 'art'], 'students_age': ['1', '2', '3', '4']}

In [61]:
print(class_3['students'][2])

aqw

In [63]:
for key in class_3.keys():
    print(key)

students
students_age

In [64]:
for value in class_3.values():
    print(value)

['abc', 'acd', 'aqw', 'art']
['1', '2', '3', '4']

In [65]:
for item in class_3.items():
    print(item)

('students', ['abc', 'acd', 'aqw', 'art'])
('students_age', ['1', '2', '3', '4'])

In [67]:
district={'punjab':'mianwali','sindh':'karachi','kpk':'peshwar'}
tehsil = {'punjab':'piplan','sindh':'hyderabad','kpk':'hango'}
pakistan = {"province":district,"province_1":tehsil}
print(pakistan)

{'province': {'punjab': 'mianwali', 'sindh': 'karachi', 'kpk': 'peshwar'}, 'province_1': {'punjab': 'piplan', 'sindh': 'hyderabad', 'kpk': 'hango'}}

In [70]:
print(pakistan["province"]['punjab'])

mianwali

In [79]:
name = ['fder','hji','klm']
name.append([pakistan])
name

['fder',
 'hji',
 'klm',
 [{'province': {'punjab': 'mianwali', 'sindh': 'karachi', 'kpk': 'peshwar'},
   'province_1': {'punjab': 'piplan', 'sindh': 'hyderabad', 'kpk': 'hango'}}]]

In [74]:
print(name[3])

[{'province': {'punjab': 'mianwali', 'sindh': 'karachi', 'kpk': 'peshwar'}, 'province_1': {'punjab': 'piplan', 'sindh': 'hyderabad', 'kpk': 'hango'}}]

In [77]:
print(name[3][pakistan]["province"]['punjab'])

TypeError: list indices must be integers or slices, not dict