In [2]:
cities = ["mianwali","kundian","sargodha","khushab","piplan","musakhail","esakhail","chashma","knfc"]

In [4]:
for city in cities:
    print(f"the city is under consideration is{city}")

the city is under consideration ismianwali
the city is under consideration iskundian
the city is under consideration issargodha
the city is under consideration iskhushab
the city is under consideration ispiplan
the city is under consideration ismusakhail
the city is under consideration isesakhail
the city is under consideration ischashma
the city is under consideration isknfc

In [6]:
for numbers in range(10):
    print(numbers)

0
1
2
3
4
5
6
7
8
9

In [7]:
for char in cities:
    print(char)

mianwali
kundian
sargodha
khushab
piplan
musakhail
esakhail
chashma
knfc

In [9]:
for first_alphabet in cities:
    print(first_alphabet)

mianwali
kundian
sargodha
khushab
piplan
musakhail
esakhail
chashma
knfc

In [16]:
for number in range(15):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [18]:
for number in range(10):
    if number%3 == 1 :
        break
    print(number)

0

In [25]:
for number in range(10):
    if number%3 == 1 and  number != 7:
        continue
    print(number)

0
2
3
5
6
7
8
9

In [31]:
number

9

In [32]:
pakistan = ["sadaqat",1234,54667,"fdfbvdfgdf","gfhtrhtr","asdf"]
pakistan

['sadaqat', 1234, 54667, 'fdfbvdfgdf', 'gfhtrhtr', 'asdf']

In [36]:
pakistan[1:7:2]

[1234, 'fdfbvdfgdf', 'asdf']

In [49]:
for evennum in range(2 , 21 , 2):
    print(evennum)

2
4
6
8
10
12
14
16
18
20

In [53]:
for  num in range(21) :
    if num % 2 == 1:
        print(num)

1
3
5
7
9
11
13
15
17
19

In [54]:
for num in range (20) :
    if num % 2 != 0 :
        print(num)

1
3
5
7
9
11
13
15
17
19

tablenumber = int(input("enter the table number")
for a in range(1,11):

In [58]:
tablenumber = int(input("enter the table number"))
for a in range(1,11):
                  print(f"{tablenumber}*{a} = {tablenumber*a}")

enter the table number2
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20

In [74]:
a=2
for a in range(2,3) :
    for b in range(11) :
        print(f"{a}*{b}={a*b}")

2*0=0
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [83]:
a=2
for a in range(2,3) :
    for b in range(11) :
        c= a * b 
        print(c)

0
2
4
6
8
10
12
14
16
18
20

In [119]:
table=int(input('enter range of table'))
for table in range(2,table):
    for a in range(1 , 4):
        print(f"{table}*{a}={a*tables}")

enter range of table4
2*1=1
2*2=2
2*3=3
3*1=1
3*2=2
3*3=3

In [92]:
tables = int(input("enter the table"))
for a in range  (1,11):
    for tables in range(1,tables):
        print(f"{tables}*{a}={tables*a}")

enter the table7
1*1=1
2*1=2
3*1=3
4*1=4
5*1=5
6*1=6
1*2=2
2*2=4
3*2=6
4*2=8
5*2=10
1*3=3
2*3=6
3*3=9
4*3=12
1*4=4
2*4=8
3*4=12
1*5=5
2*5=10
1*6=6

In [116]:
table = int(input("enter the range of table"))
a = 4
for table in range(1,table+1):
        print(f"{table}*{a}={tables*a}")

enter the range of table4
1*4=4
2*4=4
3*4=4
4*4=4

In [111]:
table=int(input('enter range of table'))
for table in range(2,table + 1):
    for a in range(1 , 11):
        print(f"{table}*{a}={a*tables}")

enter range of table5
2*1=1
2*2=2
2*3=3
2*4=4
2*5=5
2*6=6
2*7=7
2*8=8
2*9=9
2*10=10
3*1=1
3*2=2
3*3=3
3*4=4
3*5=5
3*6=6
3*7=7
3*8=8
3*9=9
3*10=10
4*1=1
4*2=2
4*3=3
4*4=4
4*5=5
4*6=6
4*7=7
4*8=8
4*9=9
4*10=10
5*1=1
5*2=2
5*3=3
5*4=4
5*5=5
5*6=6
5*7=7
5*8=8
5*9=9
5*10=10

In [113]:
for table in range(1,table+1):
    print(table)

1
2
3
4
5