In [10]:
# functions

In [1]:
def add():
    print(45*4)

In [2]:
add()

180

In [11]:
# poistional arguments

In [3]:
def add(number1,number2,number3):
    print(number1+number2+number3)

In [4]:
add(2,3,4)

9

In [13]:
# keywords arguments

In [4]:
def  name(first,middle,last):
    print(middle,last,first)

In [12]:
name(first='sadaqat',middle="ali",last="safia")

ali safia sadaqat

In [9]:
# default parameters

In [7]:
def fullname(first,last,middle="-"):
    print(first,middle,last)

In [8]:
fullname("sadaqat","ali")

sadaqat - ali

In [14]:
# unknown parameters arguments

In [19]:
def biodata(name,age,*qualifications):
    print(f"my name is {name}and age is {age}years and qualifications  is {qualifications}")

In [20]:
biodata("sadaqat",90,"matric","fsc","bsc","phd")

my name is sadaqatand age is 90years and qualifications  is ('matric', 'fsc', 'bsc', 'phd')

In [21]:
# return

In [27]:
def name(first,last):
    fname= first+last
    print(f"my name is{fname}")
    
    return fname,"from islamabad"

In [28]:
pak=name("sadaqat","ali")

my name issadaqatali

In [26]:
print(pak+"khan")

sadaqatalikhan

In [29]:
name("sadaqat","ali")

my name issadaqatali

('sadaqatali', 'from islamabad')

In [30]:
#using function as variables

In [34]:
def add(a,b):
    return a+b
def sub(b,a):
    return b-a

result = add(2,3) + sub(3,2)
# function in variables

In [35]:
result

6

In [36]:
# local and global variables

In [2]:
last_name = "ali"
def name():
    first_name="sadaqat"
    print(f"my name is {first_name} and surname is {last_name}")

In [3]:
name()

my name is sadaqat and surname is ali

In [4]:
print(last_name)

ali

In [4]:
def commisioncalc(sales):
    if sales > 200:
        return sales*100
    elif sales < 200:
        return sales*50
    elif sales < 150:
        return sales*100
    else:
        return 0
    
    
def salarycalcu(basics,sales):
    gross_salary = basics + commisioncalc(sales)
    print(f"your gross salary is {gross_salary}")

In [5]:
salarycalcu(5000,1500)

your gross salary is 155000

In [6]:
# while loops

In [16]:
flag = True
student=[]
while flag:
    userinput = input("enter students_names")
    if userinput == "end":
        flag = False
    else:
        student.append(userinput)
student

enter students_namessadqat
enter students_namesali
enter students_namessafia churail
enter students_namesend

['sadqat', 'ali', 'safia churail']

In [19]:
a=11
b=5
print(a%b)

1