# print

In [1]:
print("dase")

dase

In [2]:
print(54)

54

In [3]:
print(5.6)

5.6

# variables

In [4]:
pakistan = "leopard"
people = "nation"         # concatenate

In [5]:
pakistan_123 = 54
lion = 90

In [6]:
desk = (pakistan + people)
print(desk)

leopardnation

In [7]:
type(desk)

str

In [8]:
print(pakistan_123 + lion)

144

In [9]:
print(pakistan_123 - lion)

-36

In [10]:
print(pakistan_123 * lion)

4860

In [11]:
print(pakistan_123 / lion)

0.6

In [12]:
print(pakistan_123 // lion)

0

In [13]:
print(pakistan_123 % lion)

54

In [14]:
print((pakistan_123 + lion)* 8 + 5)

1157

# if else elif

In [1]:
a = input("name")
b = input("age")
print(a)
print(b)

namesad
agesad
sad
sad

In [4]:
 if a < b :
        print("pakistan")
elif a != b :
    print("ali")
else:
    print("desh")

desh

In [5]:
pak = 54
ind = 76
usa = 89
turk = 65
if pak != ind and pak > usa :
    print("power")
elif pak == ind and pak < usa :
    print ("superpower")
else :
    print("air")

air

In [6]:
if pak != ind or pak > usa :
    print("power")
elif pak == ind or pak < usa :
    print ("superpower")
else :
    print("air")

power

# list

In [11]:
cities = ["mianwali","kundian","sargodha","khushab","piplan","musakhail","esakhail","chashma","knfc"]

In [12]:
cities.append('barrage')

In [13]:
cities

['mianwali',
 'kundian',
 'sargodha',
 'khushab',
 'piplan',
 'musakhail',
 'esakhail',
 'chashma',
 'knfc',
 'barrage']

In [16]:
cities.sort(reverse=True)

In [17]:
cities

['sargodha',
 'piplan',
 'musakhail',
 'mianwali',
 'kundian',
 'knfc',
 'khushab',
 'esakhail',
 'chashma',
 'barrage']

In [18]:
cities.reverse()
cities

['barrage',
 'chashma',
 'esakhail',
 'khushab',
 'knfc',
 'kundian',
 'mianwali',
 'musakhail',
 'piplan',
 'sargodha']

In [19]:
cities.count("khushab")

1

In [21]:
cities.index("knfc")

4

In [22]:
cities.insert(5,"cnnp")

In [23]:
cities.extend(["fgth","uyio"])

In [24]:
cities

['barrage',
 'chashma',
 'esakhail',
 'khushab',
 'knfc',
 'cnnp',
 'kundian',
 'mianwali',
 'musakhail',
 'piplan',
 'sargodha',
 'fgth',
 'uyio']

In [25]:
newcities=cities.copy()

In [26]:
newcities

['barrage',
 'chashma',
 'esakhail',
 'khushab',
 'knfc',
 'cnnp',
 'kundian',
 'mianwali',
 'musakhail',
 'piplan',
 'sargodha',
 'fgth',
 'uyio']

In [28]:
cities5 = newcities
cities5

['barrage',
 'chashma',
 'esakhail',
 'khushab',
 'knfc',
 'cnnp',
 'kundian',
 'mianwali',
 'musakhail',
 'piplan',
 'sargodha',
 'fgth',
 'uyio']

In [5]:
pak="pakistan","desk"

In [6]:
pak

('pakistan', 'desk')

In [8]:
pak.index("desk")

1

In [9]:
pak.count("pakistan")

1

In [10]:
len(pak)

2

# for loop

In [16]:
print("pakistan")
print("pakistan")
print("pakistan")
print("pakistan")
print("pakistan")
print("pakistan")
print("pakistan")
print("pakistan")
print("pakistan")
print("pakistan")
print("pakistan")
print("pakistan")

pakistan
pakistan
pakistan
pakistan
pakistan
pakistan
pakistan
pakistan
pakistan
pakistan
pakistan
pakistan

In [17]:
for a in range(5):
    print("pakistan")

pakistan
pakistan
pakistan
pakistan
pakistan

In [18]:
for a in range(1:5):
    print("pakistan")

SyntaxError: invalid syntax (<ipython-input-18-3672fd825930>, line 1)

In [19]:
for a in range (6):
    print(a,"pakistan")

0 pakistan
1 pakistan
2 pakistan
3 pakistan
4 pakistan
5 pakistan

In [21]:
for numbers in range(10):
    print(numbers)

0
1
2
3
4
5
6
7
8
9

In [23]:
for numbers in range(2,10):
    print(numbers)

2
3
4
5
6
7
8
9

In [24]:
for numbers in range(2,10,3):
    print(numbers)

2
5
8

In [26]:
for numbers in range(10,1,-2):
    print(numbers)

10
8
6
4
2

In [3]:
cities = ["mianwali","kundian","sargodha","khushab","piplan","musakhail","esakhail","chashma","knfc"]

In [4]:
cities

['mianwali',
 'kundian',
 'sargodha',
 'khushab',
 'piplan',
 'musakhail',
 'esakhail',
 'chashma',
 'knfc']

In [6]:
for city in cities:
    print(f"the city is under consideration is {city}")

the city is under consideration is mianwali
the city is under consideration is kundian
the city is under consideration is sargodha
the city is under consideration is khushab
the city is under consideration is piplan
the city is under consideration is musakhail
the city is under consideration is esakhail
the city is under consideration is chashma
the city is under consideration is knfc

In [7]:
for num in [34 , 87 ,89 , 9, 900, 2000]:
    print(num)

34
87
89
9
900
2000

In [9]:
country = "pakistan"
for char in country:
    print(char)

p
a
k
i
s
t
a
n

In [10]:
country = "pakistan" , "saudi arab"
for char in country:
    print(char)

pakistan
saudi arab

# for loops break and continue

In [15]:
for num in range (10):
    if num % 3 == 1:
        break
        print()

num

In [16]:
num.clear()

AttributeError: 'int' object has no attribute 'clear'