In [1]:
a = 12
print(a)

12

In [5]:
a=10
# a  variable name (identifier)
# =  assignment operator
# 10 value  integer value

In [2]:
a=10
print(a)

10

In [3]:
a=10.2
print(a)

10.2

In [4]:
# int a = 12
type(a)

float

In [6]:
a=5
type(a)

int

In [8]:
city="karachi"
city

'karachi'

In [9]:
type(city)

str

In [10]:
city=45

In [11]:
type(city)

int

In [12]:
student_name = "nasir"
father_name = "hussain"
print(student_name+father_name)

nasirhussain

In [13]:
num1=1000
num2= 3000
sum= num1+num2
print(sum)

4000

In [3]:
city=9
print(city)

9

In [4]:
type(city)

int

In [2]:
d="9"
print(d)
type(d)

9

str

In [12]:
city_name="karachi"
country_name="pakistan"
contigent=city_name+country_name
print(contigent)

karachipakistan