# topics:
 .function decalartion
  .  function body
  .  function calling
    
       user defined function
       same as below
       pre defined function
       return function 
       non return function
        default action
        required arguments
        optional arguments

# why we need of function in programming?

In [8]:
card = ''''
name = {}
fname = {}
course = {}
timing = {}
'''.format("sadaqat","fname","AI","10:30")
print(card)

'
name = sadaqat
fname = fname
course = AI
timing = 10:30

In [9]:
# default function parameter less
def abc():# function decelartion
    print("pakistan zindaabad") # function body
    print("we are pakistani")
    
abc()# function calling

pakistan zindaabad
we are pakistani

# Return vs Non Return functions

In [11]:
a = print("pakistan") # non return function
print(a)

pakistan
None

In [12]:
a = input("enter any number") # return function
print(a)

enter any numberpakistan
pakistan

In [13]:
a = int("27")
type(a)

int

In [14]:
a = abc()
print(a)

pakistan zindaabad
we are pakistani
None

# # required Arguments Functions

In [2]:
def add_two_numbers(a,b):
    return  a + b

In [3]:
a = add_two_numbers(2,3) # return function
print(a)

a = add_two_numbers(4,3) # return function
print(a)

5
7

In [4]:
add_two_numbers(2)

TypeError: add_two_numbers() missing 1 required positional argument: 'b'

In [5]:
# positional arguments
add_two_numbers(6,7)

13

In [7]:
def sub(n1 , n2):
    return n1 - n2
print(sub(7,3))
print(sub(5,12))

4
-7

# passing by key word arguments

In [8]:
def sub(n1 , n2):
    return n1 - n2
print(sub(n2=7,n1 =3))
print(sub(n2=5,n1 = 12))

-4
7

In [9]:
def card(id,name,fname,course):
    return '''
    PIAIC Student Card
    id = {}
    name = {}
    fname = {}
    course= {}
    '''.format(id,name,fname,course)

print(card(1,"sadaqat","liaqat","AI"))

    PIAIC Student Card
    id = 1
    name = sadaqat
    fname = liaqat
    course= AI

In [10]:
print(card(name= "sadaqat",id="12",fname = "liaqat",course= "AI"))

    PIAIC Student Card
    id = 12
    name = sadaqat
    fname = liaqat
    course= AI

# pass positional arguments with list

In [12]:
def card(id,name,fname,course):
    return '''
    PIAIC Student Card
    id = {}
    name = {}
    fname = {}
    course= {}
    '''.format(id,name,fname,course)

In [14]:
l1= [0,"asif","abid","AI"]
print(card(*l1))

    PIAIC Student Card
    id = 0
    name = asif
    fname = abid
    course= AI

# pass keyword argument with dictionary

In [17]:
def card(id,name,fname,course):
    return '''
    PIAIC Student Card
    id = {}
    Name = {}
    father 's name = {}
    Course= {}
    '''.format(id,name,fname,course)

In [18]:
dic = {"name":"sadaqat","fname":"liaqat","course":"AI","id":27}
print(card(**dic))

    PIAIC Student Card
    id = 27
    Name = sadaqat
    father 's name = liaqat
    Course= AI

# default arguments value

In [21]:
def xyz_add(x,y,z=0):
    print(x,y,z)
    return x+y+z

xyz_add(2,9)

2 9 0

11

In [22]:
xyz_add(8,20,4)

8 20 4

32

# create function with unlimited parameters

In [26]:
def add_numbers(n1,*l1):
    return n1 + sum(l1)
add_numbers(1)

1

In [27]:
add_numbers(2,4)

6

In [28]:
 add_numbers(2,3,4,5,67)

81

In [40]:
def add_key_numbers(n1,**p):
    l1=[]
    l1.append(n1)
    for key,value in p.items():
        l1.append(p[key])
        return sum(l1)
add_key_numbers(n1=4,n2=9,n3=8,n4=7)

13