In [1]:
import numpy as np
import pandas as pd

In [2]:
data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index=['Ohio','Colerado','utah','NewYork'],
                      columns=['one','two','three','four'])
print(data_df,"\n")
#in the loc method specify row label first
#then column names
#remember !multiples columns required notations
print(data_df.loc[['Colerado','Ohio'],['two','three']])
print()
print(data_df.loc[['Colerado'],['two','three']])

          one  two  three  four
Ohio        0    1      2     3
Colerado    4    5      6     7
utah        8    9     10    11
NewYork    12   13     14    15

          two  three
Colerado    5      6
Ohio        1      2

          two  three
Colerado    5      6

In [3]:
print(data_df.iloc[2,[3,0,1]])

four    11
one      8
two      9
Name: utah, dtype: int32

In [4]:
print(data_df.iloc[:])

          one  two  three  four
Ohio        0    1      2     3
Colerado    4    5      6     7
utah        8    9     10    11
NewYork    12   13     14    15

In [5]:
print(data_df.iloc[:2,:])

          one  two  three  four
Ohio        0    1      2     3
Colerado    4    5      6     7

In [6]:
print(data_df.iloc[:,:2])

          one  two
Ohio        0    1
Colerado    4    5
utah        8    9
NewYork    12   13

In [7]:
print(data_df.iloc[3])

one      12
two      13
three    14
four     15
Name: NewYork, dtype: int32

In [8]:
print([data_df.two >10])

[Ohio        False
Colerado    False
utah        False
NewYork      True
Name: two, dtype: bool]

In [9]:
df1=pd.DataFrame(np.arange(9).reshape((3,3)),index=['Ohio','Texas','Colarido'],
                 columns=list('bcd'))
df2=pd.DataFrame(np.arange(12).reshape((4,3)),index=['Utah','Ohio','Texas','Oregeon']
                 ,columns=list('bde'))
print(df1)
print(df2)

          b  c  d
Ohio      0  1  2
Texas     3  4  5
Colarido  6  7  8
         b   d   e
Utah     0   1   2
Ohio     3   4   5
Texas    6   7   8
Oregeon  9  10  11

In [10]:
print(df1+df2)

            b   c     d   e
Colarido  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregeon   NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [27]:
df1=pd.DataFrame(np.arange(12).reshape((3,4)),index=['Ohio','Texas','Colarido'],
                 columns=list('abcd'))
df2=pd.DataFrame(np.arange(20).reshape((4,5)),index=['Utah','Ohio','Texas','Oregeon']
                 ,columns=list('abcde'))
#df1.loc[1,'b']=np.nan
#print(df1)
print(df2)

#df3 =df2+df1
#print(df3)
df3=df1.add(df2,fill_value=0)
print(df3)

          a   b   c   d   e
Utah      0   1   2   3   4
Ohio      5   6   7   8   9
Texas    10  11  12  13  14
Oregeon  15  16  17  18  19
             a     b     c     d     e
Colarido   8.0   9.0  10.0  11.0   NaN
Ohio       5.0   7.0   9.0  11.0   9.0
Oregeon   15.0  16.0  17.0  18.0  19.0
Texas     14.0  16.0  18.0  20.0  14.0
Utah       0.0   1.0   2.0   3.0   4.0