In [1]:
import numpy as np
import pandas as pd

In [2]:
frame =frame= pd.DataFrame(np.random.randn(4,3),columns=list('bde'),index=['utah','ohio','texas','oregon'])
frame

               b         d         e
utah   -0.859919  0.921411 -3.236382
ohio   -0.482945 -0.376625  0.611189
texas   0.839733  0.697071 -0.614940
oregon -0.717755  0.970173  0.156060

In [3]:
#np.abs(frame)

In [4]:
print(frame['d'].min())
print(frame['d'].max())
print(frame['d'].max()-frame['d'].min())

-0.3766252121257412
0.9701731371817645
1.3467983493075057

In [5]:
f = lambda x: x.max()-x.min()
df= frame.apply(f,axis=1)
print(df)

utah      4.157792
ohio      1.094134
texas     1.454674
oregon    1.687928
dtype: float64

In [26]:
def max_min(x):
   # maximum= x.max()
   # minimum= x.min()
    return pd.Series([x.max(),x.min()],index=['max','min'])

In [27]:
df= frame.apply(max_min)
print(df,type(df))

            b         d         e
max  0.839733  0.970173  0.611189
min -0.859919 -0.376625 -3.236382 <class 'pandas.core.frame.DataFrame'>

In [42]:
# sorting & ranking
frame = pd.DataFrame(np.arange(8).reshape((2,4)),
                     columns=['d','a','b','c'],
                     index=['three','one'])
print(frame)
print()
print(frame.sort_index(axis=1,ascending=False))
print()
print(frame.sort_index())
#default sort(axis=0,ascending=True)
print()
print(frame.sort_index(axis=1,ascending=True))

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [46]:
# sort by values
print(frame)
print(frame.sort_values(by='b'))
print(frame.rank(ascending=False,method='max'))
print(frame.rank(ascending=True,method='min'))
print(frame.rank(axis='columns'))

       d  a  b  c
three  0  1  2  3
one    4  5  6  7
       d  a  b  c
three  0  1  2  3
one    4  5  6  7
         d    a    b    c
three  2.0  2.0  2.0  2.0
one    1.0  1.0  1.0  1.0
         d    a    b    c
three  1.0  1.0  1.0  1.0
one    2.0  2.0  2.0  2.0
         d    a    b    c
three  1.0  2.0  3.0  4.0
one    1.0  2.0  3.0  4.0

In [58]:
#summarizing and computer descriptive
df= pd.DataFrame([[2,np.nan],[np.nan,np.nan],[-6,8],[4.0,np.nan]],columns=['two','three'],index=['a','b','c','d'])
print(df)
print()
print(df.sum())
print()
print(df.sum(axis='columns'))

   two  three
a  2.0    NaN
b  NaN    NaN
c -6.0    8.0
d  4.0    NaN

two      0.0
three    8.0
dtype: float64

a    2.0
b    0.0
c    2.0
d    4.0
dtype: float64

In [63]:
print(df)
x= df.mean(axis='columns',skipna=False)
print(x)
print()
print(df.mean(axis=0,skipna=True))

   two  three
a  2.0    NaN
b  NaN    NaN
c -6.0    8.0
d  4.0    NaN
a    NaN
b    NaN
c    1.0
d    NaN
dtype: float64

two      0.0
three    8.0
dtype: float64

In [72]:
#unique values
df = pd.DataFrame([
    [1.4,1.4,np.nan,1.5],[1.4,-9,np.nan,-8],[20,45,78,55],[np.nan]
],index=['a','b','c','d'],columns=['one','two','three','four'])
print(df)

    one   two  three  four
a   1.4   1.4    NaN   1.5
b   1.4  -9.0    NaN  -8.0
c  20.0  45.0   78.0  55.0
d   NaN   NaN    NaN   NaN

In [74]:
print(df["one"].unique(),df['two'].unique())
df['one'].value_counts()

[ 1.4 20.   nan] [ 1.4 -9.  45.   nan]

1.4     2
20.0    1
Name: one, dtype: int64