In [3]:
import numpy as np
import pandas as pd

In [4]:
s1=pd.Series(2)
s1

0    2
dtype: int64

In [8]:
s2=pd.Series([1,2,3,4,5])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
s2.values

array([1, 2, 3, 4, 5], dtype=int64)

In [7]:
s2.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
s3=pd.Series([1,2,3,4],index=['a','b','c','d'])
s3

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
s3['c']

3

In [17]:
s3[2]

3

In [15]:
s4=pd.Series(['A','B','C','D','E'],index=s2.index)
s4

0    A
1    B
2    C
3    D
4    E
dtype: object

In [19]:
s4=pd.Series({'a':1,'b':2,'c':3,'d':4})
s4

a    1
b    2
c    3
d    4
dtype: int64

In [20]:
s5=pd.Series(np.arange(32))
s5

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
dtype: int32

In [21]:
s= pd.Series([0,1,1,2,3,4,4,5,6,7,np.nan])
s

0     0.0
1     1.0
2     1.0
3     2.0
4     3.0
5     4.0
6     4.0
7     5.0
8     6.0
9     7.0
10    NaN
dtype: float64

In [24]:
print(len(s))
print(s.size)
print(s.shape)
print(s.count())
print(s.unique())
print(s.value_counts())

11
11
(11,)
10
[ 0.  1.  2.  3.  4.  5.  6.  7. nan]
4.0    2
1.0    2
7.0    1
6.0    1
5.0    1
3.0    1
2.0    1
0.0    1
dtype: int64

In [25]:
s.head()

0    0.0
1    1.0
2    1.0
3    2.0
4    3.0
dtype: float64

In [26]:
s.tail()

6     4.0
7     5.0
8     6.0
9     7.0
10    NaN
dtype: float64

In [28]:
s.tail(n=3)

8     6.0
9     7.0
10    NaN
dtype: float64

In [29]:
s.head(n=3)

0    0.0
1    1.0
2    1.0
dtype: float64

In [30]:
s.take([9,3,9])

9    7.0
3    2.0
9    7.0
dtype: float64

In [31]:
print(s3)
s3['a']

a    1
b    2
c    3
d    4
dtype: int64

1

In [32]:
s3[1]

2

In [34]:
s3[['c','a']]

c    3
a    1
dtype: int64

In [35]:
s5=pd.Series([1,2,3],index=[2,3,4])
s5

2    1
3    2
4    3
dtype: int64

In [36]:
s5[2]

1

In [37]:
s5[0]

KeyError: 0

In [40]:
s5.loc[2] #loc also works here label based

1

In [39]:
s5

2    1
3    2
4    3
dtype: int64

In [41]:
s5.iloc[0]

1

In [42]:
s5.loc[[4,3]]

4    3
3    2
dtype: int64

In [43]:
s5.iloc[[0,2]]

2    1
4    3
dtype: int64

In [44]:
s5.iloc[[0,1,2]]

2    1
3    2
4    3
dtype: int64

In [47]:
s6=pd.Series([1,2,3,4],index=['a','b','c','d'])
s6

a    1
b    2
c    3
d    4
dtype: int64

In [48]:
s7=pd.Series([4,3,2,1],index=['d','c','b','a'])
s7

d    4
c    3
b    2
a    1
dtype: int64

In [49]:
s6+s7

a    2
b    4
c    6
d    8
dtype: int64

In [51]:
s8=pd.Series({'a':1,'b':2,'c':3,'d':4})
s8

a    1
b    2
c    3
d    4
dtype: int64

In [52]:
s9=pd.Series({'b':6,'c':3,'d':4,'e':6})
s9

b    6
c    3
d    4
e    6
dtype: int64

In [53]:
s8+s9

a    NaN
b    8.0
c    6.0
d    8.0
e    NaN
dtype: float64

In [55]:
s10=pd.Series([1.0,2.0,3.0],index=['a','a','b'])
s10

a    1.0
a    2.0
b    3.0
dtype: float64

In [56]:
s11=pd.Series([4.0,5.0,6.0],index=['a','a','c'])
s11

a    4.0
a    5.0
c    6.0
dtype: float64

In [57]:
s10+s11

a    5.0
a    6.0
a    6.0
a    7.0
b    NaN
c    NaN
dtype: float64

In [58]:
nda=np.array([1,2,3,4,5])
nda.mean()

3.0

In [60]:
nda=np.array([1,2,3,4,np.NaN])
nda.mean()

nan

In [61]:
s=pd.Series(nda)
s.mean()

2.5

In [62]:
s.mean(skipna=False)

nan

In [65]:
s=pd.Series(np.arange(0,10))
s >5

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
9     True
dtype: bool

In [66]:
logicalResults= s>5
s[logicalResults]

6    6
7    7
8    8
9    9
dtype: int32

In [74]:
s[s>5].sum()

30

In [70]:
s[(s>5) & (s <8)]

6    6
7    7
dtype: int32

In [73]:
pd.Series([True,False,False,True,True]).all(),pd.Series([True,False,False,True,True]).any()

(False, True)

In [75]:
(np.array([1,0,1,1])).sum()

3

In [76]:
(s>=0).all()

True

In [77]:
s<2

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [79]:
s[s<2].any()

True

In [80]:
(s<2).sum()

2

In [81]:
(s<2).count()

10

In [82]:
s=pd.Series(np.random.randn(5))
s

0    0.302748
1    0.588227
2   -1.711815
3    0.423492
4   -0.970790
dtype: float64

In [83]:
s.index=['a','b','c','d','e']
s

a    0.302748
b    0.588227
c   -1.711815
d    0.423492
e   -0.970790
dtype: float64

In [84]:
np.random.seed(123456)
s1=pd.Series(np.random.randn(3))
s2=pd.Series(np.random.randn(3))
combined=pd.concat([s1,s2])
combined

0    0.469112
1   -0.282863
2   -1.509059
0   -1.135632
1    1.212112
2   -0.173215
dtype: float64

In [85]:
combined.index=np.arange(0,len(combined))
combined

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
5   -0.173215
dtype: float64

In [87]:
np.random.seed(123456)
s1=pd.Series(np.random.randn(4),['a','b','c','d'])
print(s1)
s2=s1.reindex(['a','c','g'])
s2

a    0.469112
b   -0.282863
c   -1.509059
d   -1.135632
dtype: float64

a    0.469112
c   -1.509059
g         NaN
dtype: float64

In [88]:
combined.reindex([9,5,3,4,2,0,1,2,6])

9         NaN
5   -0.173215
3   -1.135632
4    1.212112
2   -1.509059
0    0.469112
1   -0.282863
2   -1.509059
6         NaN
dtype: float64

In [89]:
combined

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
5   -0.173215
dtype: float64

In [90]:
s1=pd.Series([0,1,2],index=[0,1,2])
s2=pd.Series([3,4,5],index=['0','1','2'])
s1+s2

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [92]:
s2.index=s2.index.values.astype(int)
s1+s2

0    3
1    5
2    7
dtype: int64

In [93]:
s2=s.copy()
s2

a    0.302748
b    0.588227
c   -1.711815
d    0.423492
e   -0.970790
dtype: float64

In [94]:
s2_reindexed=s2.reindex(['a','f'],fill_value=np.mean([1,2,3,4,5,6,7]))
s2_reindexed

a    0.302748
f    4.000000
dtype: float64

In [95]:
s3=pd.Series(['red','green','blue'],index=[0,8,10])
s3

0       red
8     green
10     blue
dtype: object

In [96]:
s3.reindex(np.arange(0,15),method='ffill')

0       red
1       red
2       red
3       red
4       red
5       red
6       red
7       red
8     green
9     green
10     blue
11     blue
12     blue
13     blue
14     blue
dtype: object

In [98]:
s3.reindex(np.arange(0,15),method="bfill")

0       red
1     green
2     green
3     green
4     green
5     green
6     green
7     green
8     green
9      blue
10     blue
11      NaN
12      NaN
13      NaN
14      NaN
dtype: object

In [99]:
s3.reindex(np.arange(0,10),method='nearest')

0      red
1      red
2      red
3      red
4    green
5    green
6    green
7    green
8    green
9     blue
dtype: object