**Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas**

In [1]:
import pandas as pd
import numpy as np

In [2]:
ds =pd.Series(np.arange(5))
print(ds)

0    0
1    1
2    2
3    3
4    4
dtype: int32

**Write a Pandas program to convert a Panda module Series to Python list and it's type**

In [3]:
ds=pd.Series([1,2,3,4,5,6])
print(ds)
print(type(ds))
print("After Convert a Panda module into python list")
alist=ds.tolist()
print("Python list :",alist)
print(type(alist))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>
After Convert a Panda module into python list
Python list : [1, 2, 3, 4, 5, 6]
<class 'list'>

**Write a Pandas program to add, subtract, multiple and divide two Pandas Series**

In [4]:
ds1=pd.Series([2, 4, 6, 8, 10])
ds2=pd.Series( [1, 3, 5, 7, 9])
print("After add :\n",ds1+ds2)
print("After subract :\n",ds1-ds2)
print("After mutiply :\n",ds1*ds2)
print("After divide :\n",ds1/ds2)

After add :
 0     3
1     7
2    11
3    15
4    19
dtype: int64
After subract :
 0    1
1    1
2    1
3    1
4    1
dtype: int64
After mutiply :
 0     2
1    12
2    30
3    56
4    90
dtype: int64
After divide :
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

**Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]**

In [5]:
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,10])
ds3=(ds1==ds2)
print("after comparing \n",ds3)
print("Less than \n",ds1<ds2)
print("greater then \n",ds1>ds2)

after comparing
 0    False
1    False
2    False
3    False
4     True
dtype: bool
Less than
 0    False
1    False
2    False
3    False
4    False
dtype: bool
greater then
 0     True
1     True
2     True
3     True
4    False
dtype: bool

**Write a Pandas program to convert a dictionary to a Pandas series.
Sample Series:
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a 100
b 200
c 300
d 400
e 800**

In [6]:
Original_dictionary={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
converted_series=pd.Series(Original_dictionary)
print(converted_series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

**Write a Pandas program to convert a NumPy array to a Pandas series.
Sample Series:
NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0 10
1 20
2 30
3 40
4 50**

In [7]:
Numpy_array=np.array([10,20,30,40,50])
Panda_series=pd.Series(Numpy_array)
print(Panda_series)

0    10
1    20
2    30
3    40
4    50
dtype: int32

**Write a Pandas program to change the data type of given a column or a Series.
<br>
Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
</br>
Change the said data type to numeric:
<br>
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
</br>**

In [14]:
original_data=pd.Series(['100','200','5','300.12','400'])
print(original_data)
print("after change the Data type to numeric")
print(pd.to_numeric(original_data).astype(float))

0       100
1       200
2         5
3    300.12
4       400
dtype: object
after change the Data type to numeric
0    100.00
1    200.00
2      5.00
3    300.12
4    400.00
dtype: float64